<<<<<<< HEAD
.total{
    
    justify-content: space-evenly;
    display: flex;
    grid-auto-flow: row dense;
=======
body{
    
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    
    
>>>>>>> 54bb6133b47555fc2ca89b7b7c952015f959cab1
}




<<<<<<< HEAD
h3{
    color: blue;
    
=======

h3{
    color: blue;
    text-align: center;
>>>>>>> 54bb6133b47555fc2ca89b7b7c952015f959cab1
    font-family: 'Times New Roman', Times, serif;
}

h4{
    color: blue;
<<<<<<< HEAD
    
=======
    text-align: center;
>>>>>>> 54bb6133b47555fc2ca89b7b7c952015f959cab1
    font-family: 'Times New Roman', Times, serif;
}

.tableau{
    background-color:#D0D7F2;
    font-size: 15px;
    
}

.content{
    background-color:#D0E9F2;
}

.update{

    background-color: #4E89D6;
    border: none;
    border-radius: 3px;
<<<<<<< HEAD
    width:auto;
=======
    width:80px;
>>>>>>> 54bb6133b47555fc2ca89b7b7c952015f959cab1
    height: 30px;
    font-size: inherit ,15px ;
}

.delete{

    background-color: #7aa37a;
    border: none;
    border-radius: 3px;
    width:80px;
    height: 30px;
    font-size: inherit ,15px ;
}

.insert{
    background-color: #426970;
    border: none;
    border-radius: 3px;
    width:75px;
    height: 30px;
    font-size: inherit ,15px ;

}

.ajouter{
    position: right;
}
<<<<<<< HEAD
 

.crole{
    background-color: #426970;
    border: none;
    border-radius: 3px;
    width:auto;
    height: 30px;
    font-size: inherit ,15px ;
}

=======
>>>>>>> 54bb6133b47555fc2ca89b7b7c952015f959cab1
